---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=pueblo,co&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer gx6fVZWpnGZ0TZKZ_rTchYFxGEsZ4J0ZNRNSR2GS0jnSM0BpqwM-IW534niuQLDrmE4YqOfVtjz-NJO9TBHI9KRKS1K-EcueF1wQGiKsbdMIBgkQi-ZcEmVNSSXxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4981'
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-5db947469f-5rh8f; site=public_api_v3
      X-Zipkin-Id:
      - 05342a9e15863fc3
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-133-10-useast1bprod
      X-Extlb:
      - 10-65-133-10-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "M4MwxQAA58B7ENV8ootI-w", "alias": "kans-kitchen-pueblo",
        "name": "Kan''s Kitchen", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/RxBfJ3hjre51jCpXqNlfjA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kans-kitchen-pueblo?adjust_creative=9QHjj_dZ3mrK-zNxRVMhCQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QHjj_dZ3mrK-zNxRVMhCQ",
        "review_count": 28, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.5, "coordinates": {"latitude": 38.2401504516602, "longitude":
        -104.643249511719}, "transactions": ["delivery"], "price": "$", "location":
        {"address1": "1620 S Prairie Ave", "address2": null, "address3": null, "city":
        "Pueblo", "zip_code": "81005", "country": "US", "state": "CO", "display_address":
        ["1620 S Prairie Ave", "Pueblo, CO 81005"]}, "phone": "+17195660209", "display_phone":
        "(719) 566-0209", "distance": 6975.853345952662}, {"id": "kQxM1xlaZfQmXpKaqMTNnw",
        "alias": "wonderful-bistro-pueblo", "name": "Wonderful Bistro", "image_url":
        "https://s3-media1.fl.yelpcdn.com/bphoto/HqKiK_Ju61fC4nSFq_fgHg/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/wonderful-bistro-pueblo?adjust_creative=9QHjj_dZ3mrK-zNxRVMhCQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QHjj_dZ3mrK-zNxRVMhCQ",
        "review_count": 81, "categories": [{"alias": "chinese"[...]
