---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660158112,"sunrise":1660133246,"sunset":1660183395,"temp":90.55,"feels_like":87.4,"pressure":1019,"humidity":24,"dew_point":48.87,"uvi":10.15,"clouds":0,"visibility":10000,"wind_speed":3,"wind_deg":181,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1660158000,"temp":90.55,"feels_like":87.4,"pressure":1019,"humidity":24,"dew_point":48.87,"uvi":10.15,"clouds":0,"visibility":10000,"wind_speed":3.44,"wind_deg":106,"wind_gust":5.39,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660161600,"temp":91.2,"feels_like":87.76,"pressure":1018,"humidity":22,"dew_point":47.08,"uvi":9.44,"clouds":0,"visibility":10000,"wind_speed":3,"wind_deg":99,"wind_gust":5.03,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660165200,"temp":92.03,"feels_like":88.2,"pressure":1017,"humidity":19,"dew_point":43.9,"uvi":7.56,"clouds":0,"visibility":10000,"wind_speed":5.99,"wind_deg":125,"wind_gust":6.53,"weather":[{"id":800,"main":"Clear[...]
