---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660141058,"sunrise":1660133246,"sunset":1660183395,"temp":73.72,"feels_like":73.29,"pressure":1021,"humidity":53,"dew_point":55.54,"uvi":1.1,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":184,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1660140000,"temp":73.72,"feels_like":73.29,"pressure":1021,"humidity":53,"dew_point":55.54,"uvi":1.1,"clouds":0,"visibility":10000,"wind_speed":4.9,"wind_deg":215,"wind_gust":6.69,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660143600,"temp":74.88,"feels_like":74.37,"pressure":1021,"humidity":49,"dew_point":54.45,"uvi":2.78,"clouds":0,"visibility":10000,"wind_speed":4.76,"wind_deg":211,"wind_gust":6.6,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660147200,"temp":77.81,"feels_like":77.22,"pressure":1020,"humidity":41,"dew_point":52.25,"uvi":5.16,"clouds":0,"visibility":10000,"wind_speed":5.66,"wind_deg":172,"wind_gust":9.48,"weather":[{"id":800,"main":[...]
