---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660123782,"sunrise":1660133246,"sunset":1660183395,"temp":70.5,"feels_like":69.84,"pressure":1020,"humidity":55,"dew_point":53.58,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":1.01,"wind_deg":182,"wind_gust":5.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1660122000,"temp":70.5,"feels_like":69.84,"pressure":1020,"humidity":55,"dew_point":53.58,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":7.36,"wind_deg":190,"wind_gust":16.69,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1660125600,"temp":71.01,"feels_like":70.25,"pressure":1020,"humidity":52,"dew_point":52.52,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":4.56,"wind_deg":192,"wind_gust":7.85,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1660129200,"temp":71.2,"feels_like":70.38,"pressure":1020,"humidity":50,"dew_point":51.64,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":4.21,"wind_deg":179,"wind_gust":6.15,"weather":[{"id":800,"main":"Clear[...]
