---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660028925,"sunrise":1660046789,"sunset":1660097068,"temp":71.15,"feels_like":70.79,"pressure":1016,"humidity":60,"dew_point":56.57,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":51,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1660028400,"temp":71.15,"feels_like":70.79,"pressure":1016,"humidity":60,"dew_point":56.57,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.64,"wind_deg":248,"wind_gust":4.76,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1660032000,"temp":71.92,"feels_like":71.49,"pressure":1016,"humidity":57,"dew_point":55.89,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.29,"wind_deg":252,"wind_gust":4.47,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1660035600,"temp":72.28,"feels_like":71.71,"pressure":1015,"humidity":53,"dew_point":54.21,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.12,"wind_deg":266,"wind_gust":6.42,"weather":[{"id":800,"main":"Clea[...]
