---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660022375,"sunrise":1659960332,"sunset":1660010740,"temp":73.58,"feels_like":73.36,"pressure":1015,"humidity":58,"dew_point":57.9,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":5.01,"wind_deg":249,"wind_gust":10,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1660021200,"temp":73.58,"feels_like":73.36,"pressure":1015,"humidity":58,"dew_point":57.9,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":8.68,"wind_deg":179,"wind_gust":15.3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0.04},{"dt":1660024800,"temp":74.05,"feels_like":73.78,"pressure":1015,"humidity":56,"dew_point":57.36,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":5.61,"wind_deg":185,"wind_gust":9.98,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0.04},{"dt":1660028400,"temp":74.28,"feels_like":73.9,"pressure":1015,"humidity":53,"dew_point":56.07,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4,"wind_deg":202,"wind_gust":6.38,"weather":[{"id":800,"main":"Cl[...]
