---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660068729,"sunrise":1660046789,"sunset":1660097068,"temp":87.22,"feels_like":86.22,"pressure":1017,"humidity":37,"dew_point":57.79,"uvi":9.43,"clouds":1,"visibility":10000,"wind_speed":4,"wind_deg":23,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1660068000,"temp":87.22,"feels_like":86.22,"pressure":1017,"humidity":37,"dew_point":57.79,"uvi":9.43,"clouds":1,"visibility":10000,"wind_speed":6.22,"wind_deg":48,"wind_gust":6.46,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660071600,"temp":87.58,"feels_like":86.22,"pressure":1016,"humidity":35,"dew_point":56.57,"uvi":10.12,"clouds":1,"visibility":10000,"wind_speed":6.24,"wind_deg":64,"wind_gust":7.49,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660075200,"temp":88.68,"feels_like":86.45,"pressure":1015,"humidity":30,"dew_point":53.29,"uvi":9.41,"clouds":2,"visibility":10000,"wind_speed":6.35,"wind_deg":69,"wind_gust":8.55,"weather":[{"id":800,"main":[...]
