---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660183883,"sunrise":1660133246,"sunset":1660183395,"temp":84.54,"feels_like":82.56,"pressure":1016,"humidity":31,"dew_point":50.61,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":7,"wind_deg":167,"wind_gust":15.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1660183200,"temp":84.54,"feels_like":82.56,"pressure":1016,"humidity":31,"dew_point":50.61,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":14.34,"wind_deg":152,"wind_gust":17.98,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660186800,"temp":84.33,"feels_like":82.27,"pressure":1016,"humidity":30,"dew_point":49.55,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":11.23,"wind_deg":154,"wind_gust":19.46,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1660190400,"temp":82.89,"feels_like":81.41,"pressure":1016,"humidity":33,"dew_point":50.86,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":13.53,"wind_deg":153,"wind_gust":25.3,"weather":[{"id":800,"main":"C[...]
