---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660063927,"sunrise":1660046789,"sunset":1660097068,"temp":83.44,"feels_like":82.89,"pressure":1017,"humidity":41,"dew_point":57.29,"uvi":7.65,"clouds":0,"visibility":10000,"wind_speed":3,"wind_deg":85,"wind_gust":7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1660060800,"temp":83.05,"feels_like":82.38,"pressure":1017,"humidity":40,"dew_point":56.25,"uvi":5.16,"clouds":0,"visibility":10000,"wind_speed":1.36,"wind_deg":80,"wind_gust":0.85,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660064400,"temp":83.44,"feels_like":82.89,"pressure":1017,"humidity":41,"dew_point":57.29,"uvi":7.65,"clouds":0,"visibility":10000,"wind_speed":3.38,"wind_deg":65,"wind_gust":3.15,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660068000,"temp":84.15,"feels_like":83.14,"pressure":1016,"humidity":38,"dew_point":55.81,"uvi":9.54,"clouds":0,"visibility":10000,"wind_speed":5.53,"wind_deg":73,"wind_gust":5.48,"weather":[{"id":800,"main":"[...]
