---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=gQyWSGUUeYuG3YUeZt1jQT3kKciCMuN9&location=miami,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 09:29:41 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"miami,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Miami","adminArea5Type":"City","adminArea4":"Miami-Dade","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040379","unknownInput":"","type":"s","latLng":{"lat":25.775084,"lng":-80.194702},"displayLatLng":{"lat":25.775084,"lng":-80.194702},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=gQyWSGUUeYuG3YUeZt1jQT3kKciCMuN9&type=map&size=225,160&locations=25.775084,-80.194702|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-774668452"}]}]}'
  recorded_at: Wed, 10 Aug 2022 09:29:41 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=25.775084&lon=-80.194702&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":25.7751,"lon":-80.1947,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1660123781,"sunrise":1660128691,"sunset":1660176052,"temp":82.65,"feels_like":90.12,"pressure":1020,"humidity":79,"dew_point":75.47,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":8.05,"wind_deg":120,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1660122000,"temp":82.65,"feels_like":90.12,"pressure":1020,"humidity":79,"dew_point":75.47,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":13.4,"wind_deg":124,"wind_gust":16.44,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1660125600,"temp":82.9,"feels_like":89.85,"pressure":1020,"humidity":76,"dew_point":74.55,"uvi":0,"clouds":49,"visibility":10000,"wind_speed":12.12,"wind_deg":126,"wind_gust":15.57,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1660129200,"temp":83.08,"feels_like":89.69,"pressure":1020,"humidity":74,"dew_point":73.94,"uvi":0,"clouds":53,"visibility":10000,"wind_speed":11.52,"wind_deg":124,"wind_gust":14.94,"weather":[{"id":803[...]
