---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=gQyWSGUUeYuG3YUeZt1jQT3kKciCMuN9&location=nashville,tn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Aug 2022 05:42:13 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"nashville,tn"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Nashville","adminArea5Type":"City","adminArea4":"Davidson
        County","adminArea4Type":"County","adminArea3":"TN","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282087490","unknownInput":"","type":"s","latLng":{"lat":36.166687,"lng":-86.779932},"displayLatLng":{"lat":36.166687,"lng":-86.779932},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=gQyWSGUUeYuG3YUeZt1jQT3kKciCMuN9&type=map&size=225,160&locations=36.166687,-86.779932|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1358704260"}]}]}'
  recorded_at: Tue, 09 Aug 2022 05:42:13 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=36.166687&lon=-86.779932&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":36.1667,"lon":-86.7799,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1660023734,"sunrise":1660042832,"sunset":1660092287,"temp":75.54,"feels_like":76.93,"pressure":1017,"humidity":88,"dew_point":71.74,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.44,"wind_deg":20,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1660021200,"temp":75.99,"feels_like":77.34,"pressure":1017,"humidity":86,"dew_point":71.49,"uvi":0,"clouds":9,"visibility":10000,"wind_speed":4.45,"wind_deg":208,"wind_gust":15.95,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0.31},{"dt":1660024800,"temp":75.54,"feels_like":76.93,"pressure":1017,"humidity":88,"dew_point":71.74,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.14,"wind_deg":218,"wind_gust":13.67,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0.43},{"dt":1660028400,"temp":75.51,"feels_like":76.84,"pressure":1017,"humidity":87,"dew_point":71.37,"uvi":0,"clouds":3,"visibility":10000,"wind_speed":4.63,"wind_deg":220,"wind_gust":16.8,"weather":[{"id":800,"main[...]
