---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=gQyWSGUUeYuG3YUeZt1jQT3kKciCMuN9&location=miami,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Aug 2022 06:52:02 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"miami,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Miami","adminArea5Type":"City","adminArea4":"Miami-Dade","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040379","unknownInput":"","type":"s","latLng":{"lat":25.775084,"lng":-80.194702},"displayLatLng":{"lat":25.775084,"lng":-80.194702},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=gQyWSGUUeYuG3YUeZt1jQT3kKciCMuN9&type=map&size=225,160&locations=25.775084,-80.194702|marker-sm-50318A-1&scalebar=true&zoom=12&rand=922342683"}]}]}'
  recorded_at: Tue, 09 Aug 2022 06:52:02 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=25.775084&lon=-80.194702&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":25.7751,"lon":-80.1947,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1660027923,"sunrise":1660042262,"sunset":1660089697,"temp":82.29,"feels_like":91.2,"pressure":1018,"humidity":86,"dew_point":77.68,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":9.22,"wind_deg":90,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1660024800,"temp":82.74,"feels_like":91.26,"pressure":1018,"humidity":82,"dew_point":76.68,"uvi":0,"clouds":35,"visibility":10000,"wind_speed":12.77,"wind_deg":113,"wind_gust":14.47,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.48},{"dt":1660028400,"temp":82.29,"feels_like":91.2,"pressure":1018,"humidity":86,"dew_point":77.68,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":12.21,"wind_deg":115,"wind_gust":14.36,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.15},{"dt":1660032000,"temp":82.65,"feels_like":91.31,"pressure":1018,"humidity":83,"dew_point":76.96,"uvi":0,"clouds":41,"visibility":10000,"wind_speed":12.86,"wind_deg":114,"wind_gust":14.85,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.1},{"dt":1660035600,"temp":82.89,"feels_like":91,"pressure":1018,"humidity":80,"dew_point":76.08,"uvi":0,"clouds":42,"visibility":10000,"wind_speed":13.27,"wind_deg":118,"wind_gust":15.12,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.06},{"dt":1660039200,"temp":83.12,"feels_like":90.99,"pressure":1018,"humidity":78,"dew_point":75.54,"uvi":0,"clouds":44,"visibility":10000,"wind_speed":12.48,"wind_deg":117,"wind_gust":15.68,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.24,"rain":{"1h":0.27}},{"dt":1660042800,"temp":83.66,"feels_like":91,"pressure":1018,"humidity":74,"dew_point":74.5,"uvi":0,"clouds":51,"visibility":10000,"wind_speed":12.68,"wind_deg":120,"wind_gust":15.61,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.12},{"dt":1660046400,"temp":84.2,"feels_like":90.91,"pressure":1019,"humidity":70,"dew_point":73.38,"uvi":0.44,"clouds":60,"visibility":10000,"wind_speed":13.02,"wind_deg":114,"wind_gust":15.43,"weather":[[...]
