---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=gQyWSGUUeYuG3YUeZt1jQT3kKciCMuN9&location=miami,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Aug 2022 17:57:12 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"miami,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Miami","adminArea5Type":"City","adminArea4":"Miami-Dade","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040379","unknownInput":"","type":"s","latLng":{"lat":25.775084,"lng":-80.194702},"displayLatLng":{"lat":25.775084,"lng":-80.194702},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=gQyWSGUUeYuG3YUeZt1jQT3kKciCMuN9&type=map&size=225,160&locations=25.775084,-80.194702|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1898018324"}]}]}'
  recorded_at: Tue, 09 Aug 2022 17:57:12 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=25.775084&lon=-80.194702&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":25.7751,"lon":-80.1947,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1660067833,"sunrise":1660042262,"sunset":1660089697,"temp":89.58,"feels_like":102.18,"pressure":1019,"humidity":71,"dew_point":78.93,"uvi":10.12,"clouds":100,"visibility":10000,"wind_speed":4,"wind_deg":100,"wind_gust":10,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1660064400,"temp":88.97,"feels_like":101.57,"pressure":1019,"humidity":70,"dew_point":77.9,"uvi":10.33,"clouds":100,"visibility":10000,"wind_speed":14.54,"wind_deg":116,"wind_gust":17.05,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.63},{"dt":1660068000,"temp":89.58,"feels_like":102.18,"pressure":1019,"humidity":71,"dew_point":78.93,"uvi":10.12,"clouds":100,"visibility":10000,"wind_speed":13.2,"wind_deg":119,"wind_gust":16.71,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.63},{"dt":1660071600,"temp":89.04,"feels_like":101.64,"pressure":1019,"humidity":70,"dew_point":77.97,"uvi":8.41,"clouds":100,"visibility":10000,"wind_speed":12.93,"wind_deg":114,"wind_gust":15.75,"wea[...]
