---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=gQyWSGUUeYuG3YUeZt1jQT3kKciCMuN9&location=miami,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Aug 2022 16:52:09 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"miami,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Miami","adminArea5Type":"City","adminArea4":"Miami-Dade","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040379","unknownInput":"","type":"s","latLng":{"lat":25.775084,"lng":-80.194702},"displayLatLng":{"lat":25.775084,"lng":-80.194702},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=gQyWSGUUeYuG3YUeZt1jQT3kKciCMuN9&type=map&size=225,160&locations=25.775084,-80.194702|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-710971137"}]}]}'
  recorded_at: Tue, 09 Aug 2022 16:52:09 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=25.775084&lon=-80.194702&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":25.7751,"lon":-80.1947,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1660063929,"sunrise":1660042262,"sunset":1660089697,"temp":89.55,"feels_like":102.15,"pressure":1020,"humidity":70,"dew_point":78.46,"uvi":11.14,"clouds":75,"visibility":10000,"wind_speed":19.57,"wind_deg":120,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1660060800,"temp":88.81,"feels_like":101.41,"pressure":1020,"humidity":69,"dew_point":77.32,"uvi":9.73,"clouds":80,"visibility":10000,"wind_speed":14.7,"wind_deg":108,"wind_gust":16.93,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.8,"rain":{"1h":0.25}},{"dt":1660064400,"temp":89.55,"feels_like":102.15,"pressure":1020,"humidity":70,"dew_point":78.46,"uvi":11.14,"clouds":75,"visibility":10000,"wind_speed":13.96,"wind_deg":109,"wind_gust":15.97,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.8},{"dt":1660068000,"temp":88.97,"feels_like":101.57,"pressure":1020,"humidity":69,"dew_point":77.47,"uvi":10.92,"clouds":79,"visibility":10000,"wind_speed":14.03,"wind_deg":112,"wind_gust":16.06,[...]
