---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=gQyWSGUUeYuG3YUeZt1jQT3kKciCMuN9&location=Albuquerque
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Aug 2022 18:12:13 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Albuquerque"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Albuquerque","adminArea5Type":"City","adminArea4":"Bernalillo
        County","adminArea4Type":"County","adminArea3":"NM","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039130","unknownInput":"","type":"s","latLng":{"lat":35.084248,"lng":-106.649241},"displayLatLng":{"lat":35.084248,"lng":-106.649241},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=gQyWSGUUeYuG3YUeZt1jQT3kKciCMuN9&type=map&size=225,160&locations=35.084248,-106.649241|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1652814033"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Albuquerque","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"RJ","adminArea3Type":"State","adminArea1":"BR","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"362377319","unknownInput":"","type":"s","latLng":{"lat":-22.383301,"lng":-42.916599},"displayLatLng":{"lat":-22.383301,"lng":-42.916599},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=gQyWSGUUeYuG3YUeZt1jQT3kKciCMuN9&type=map&size=225,160&locations=-22.383301,-42.916599|marker-sm-50318A-2&scalebar=true&zoom=12&rand=-96715048"}]}]}'
  recorded_at: Tue, 09 Aug 2022 18:12:13 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f57e28372b23bcdc9e27700bd3fdd29a&exclude=minutely&lat=35.084248&lon=-106.649241&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.0842,"lon":-106.6492,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660068733,"sunrise":1660047721,"sunset":1660096935,"temp":86.18,"feels_like":85.05,"pressure":1023,"humidity":37,"dew_point":56.88,"uvi":9.76,"clouds":40,"visibility":10000,"wind_speed":4,"wind_deg":357,"wind_gust":7,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1660068000,"temp":86.18,"feels_like":85.05,"pressure":1023,"humidity":37,"dew_point":56.88,"uvi":9.76,"clouds":40,"visibility":10000,"wind_speed":2.55,"wind_deg":252,"wind_gust":2.53,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1660071600,"temp":86.2,"feels_like":84.7,"pressure":1021,"humidity":35,"dew_point":55.36,"uvi":10.76,"clouds":35,"visibility":10000,"wind_speed":2.48,"wind_deg":255,"wind_gust":4.54,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1660075200,"temp":86.88,"feels_like":85.08,"pressure":1019,"humidity":33,"dew_point":54.34,"uvi":10.18,"clouds":30,"visibility":10000,"wind_speed":3.58,"wind_deg":256,"wind_gust":7.05,"weather":[{"id":[...]
- request:
    method: get
    uri: https://prescriptiontrails.org/api/filter/?by=city&city=Albuquerque&count=5&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trails":[{"id":1,"name":"Tingley Field","city":"Albuquerque","zip":87102,"crossstreets":"Coal
        and 10th SW","address":"10 Atlantic Ave SW","transit":"ABQ Ride Stops:  #53,
        #54","lat":"35.0772432","lng":"-106.6555564","desc":"This%20redeveloped%20park%20provides%20a%20catchment%20basin%20in%20monsoon%20season%2C%20and%20the%20new%20recreation%20facilities%20and%20walking%20trail%20are%20great%20for%20the%20whole%20family.","lighting":"On
        trail and parking lot","difficulty":1,"surface":"6-foot+ wide sidewalk, 4-foot
        wide gravel on 2 sides","parking":"On site","facilities":"Restrooms","hours":"6
        a.m. - 10 p.m.","loopcount":1,"satImgURL":"https:\/\/prescriptiontrails.org\/admin\/new\/images\/1450547549tingleyParkSat.png","largeImgURL":"https:\/\/prescriptiontrails.org\/admin\/new\/images\/1455036748P1130010.jpg","thumbURL":"https:\/\/prescriptiontrails.org\/admin\/new\/images\/square_1455036748P1130010.jpg","attractions":["%3Ca%20href%3D%22https%3A%2F%2Fwww.cabq.gov%2Fculturalservices%2Fbiopark%2Fzoo%22%3EZoo%3C%2Fa%3E%20located%20across%2010th%20Street","Tennis%20courts%20across%208th%20street","Shaded%20playgrounds%20and%20picnic%20area","Grassy%20field","Softball%20fields"],"loops":{"1":{"name":"Main
        Loop","distance":"0.6","steps":1267}},"published":"true","rating":3,"ratings":1,"favorites":0,"ModifiedTime":"2019-09-30
        11:55:21","reviews":1,"url":"https:\/\/prescriptiontrails.org\/trail\/1\/tingley-field\/"},{"id":2,"name":"Tingley
        Beach","city":"Albuquerque","zip":87104,"crossstreets":"Central Ave. & Tingley
        Dr. SW","address":"1800 Tingley Drive SW","transit":"ABQ Ride Stops:  #66,
        Rapid Ride","lat":"35.086244","lng":"-106.674171","desc":"Tingley%20Beach%20is%20on%20the%20Rio%20Grande%2C%20near%20downtown%20Albuquerque%2C%20next%20to%20the%20BIOPark%20%E2%80%93%20Zoo%20and%20Aquarium%20and%20offers%20fishing%2C%2[...]
