---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver&open_at=1659976563&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer gx6fVZWpnGZ0TZKZ_rTchYFxGEsZ4J0ZNRNSR2GS0jnSM0BpqwM-IW534niuQLDrmE4YqOfVtjz-NJO9TBHI9KRKS1K-EcueF1wQGiKsbdMIBgkQi-ZcEmVNSSXxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-canary--useast1-b99cf5bd6-c9w98; site=public_api_v3
      Ratelimit-Remaining:
      - '4996'
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      X-Zipkin-Id:
      - 2e3910c779c147f8
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-190-140-useast1bprod
      X-Extlb:
      - 10-65-190-140-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "fXA9hf0IfVRtvSEc9mxnPw", "alias": "star-kitchen-denver",
        "name": "Star Kitchen", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/4dkpPrRVdJXCUFl4GdCbZQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/star-kitchen-denver?adjust_creative=9QHjj_dZ3mrK-zNxRVMhCQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QHjj_dZ3mrK-zNxRVMhCQ",
        "review_count": 1096, "categories": [{"alias": "dimsum", "title": "Dim Sum"},
        {"alias": "seafood", "title": "Seafood"}, {"alias": "cantonese", "title":
        "Cantonese"}], "rating": 4.0, "coordinates": {"latitude": 39.697298, "longitude":
        -105.024301}, "transactions": ["delivery", "pickup"], "price": "$$", "location":
        {"address1": "2917 W Mississippi Ave", "address2": "Ste 5", "address3": "",
        "city": "Denver", "zip_code": "80219", "country": "US", "state": "CO", "display_address":
        ["2917 W Mississippi Ave", "Ste 5", "Denver, CO 80219"]}, "phone": "+13039360089",
        "display_phone": "(303) 936-0089", "distance": 6280.4695316762245}, {"id":
        "Z8b6mYueYNTtV4Ku0R6ZUQ", "alias": "new-china-cafe-denver", "name": "New China
        Cafe", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/vA2vwOuKJSpj0330tZGq4Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/new-china-cafe-denver?adjust_creative=9QHjj_dZ3mrK-zNxRVMhCQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9QHjj_dZ3mrK-zNxRVMhCQ",
        "review_count": 259, "categories": [{"alias": "chinese", "t[...]
